<div class="nav-filter text-center">
	<div class="dropdown">
	  <div class="dropdown-toggle" id="dropdownfilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Enlaces
	    <span class="caret"></span>
	  </div>
	  <ul class="dropdown-menu">
	    <li><a href="<%= cheap_search_path %>">Los mas baratos</a></li>
	    <li><a href="<%= classics_search_path %>">Los clasicos</a></li>
	    <li><a href="<%= moderns_search_path %>">Los modernos</a></li>
	  </ul>
	</div>
</div>
