<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" class="btn social facebook" target="_blank" title="Compartir">
	<%= image_tag 'face.svg', class: "share-img" %>
</a>

<a href="https://twitter.com/intent/tweet?url=<%= url %>" class="btn social twitter" target="_blank" data-text="noise" data-via="elcanelaz" title="Compartir">
	<%= image_tag 'twitter.svg', class: "share-img" %>
</a>
