
<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" class="btn" target="_blank" title="Compartir">
	<%= image_tag 'face.svg', class: "share-img" %>
</a>
<a href="#" class="btn" target="_blank" data-text="noise" title="Compartir">
	<%= image_tag 'twitter.svg', class: "share-img" %>
</a>