// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-filter {
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	background-color: #FAFAFA;
	.dropdown-toggle {
		color: #666666;
		cursor: pointer;
	}
	.dropdown-menu {
    position: absolute;
    left: 50%;
    top: 4rem;
    margin-left: -8rem;
		-webkit-transform: tranlateY(-50%);
	}
}